body {
    font-family: roboto;
    background-color: #181818;
    margin: 0px;
}

.search {
    text-align: center;
    background-color: #202020;
    padding-top: 8px;
    padding-bottom: 8px;
}

input {
    font-size: 15px;
    padding: 10px 5px;
    margin: 0px;

    background-color: #121212;
    color: #FFFFFF;

    border: 1px solid #303030;
}

input:focus {
    outline: none;
    border:1px solid #1c62b9;
}

button {
    font-size: 15px;
    padding: 11px 8px;
    margin-right: 43px;

    color: #FFFFFF;
    background-color: #323232;

    border: none;
}

#video {
    margin-left: 40px;
}

.thumbnail {
    margin-top: 25px;
}

.title {
    color: #FFFFFF;
    font-size: 18px;
}

#replies {
    white-space: pre-line;
    color: #FFFFFF;
    font-size: 14px;
}

.profile {
    border-radius: 50%;

    margin-top: 14px;
    margin-left: 25px;
    margin-right: 14px;
}

.username {
    margin-bottom: 6px;
}
.comment {
    margin-top: 6px;
}

.comment-data {
    margin-top: 1px;
    color: #aaaaaa;
}

td {
    text-align: left;
    vertical-align: top;
}

.hidden {
    display: none;
}